<div class="navbar">
  <a href="#dywaboh">DYWABOH</a>
  <div class="navbar-right">
    <a href="#home" class="active">Home</a>
    <a href="#properties">Properties</a>
    <a href="#contact">Contact</a>
    <a href="#search">Search</a>
    <a href="#signup">Sign Up</a>
    <a href="#login">Login</a>
  </div>
</div>
<div class="image">
  <img src ="../assets/pexels-photo-2724749.webp" alt ="image" width="100%" height="100%"> 
  <div class="centered">The Simplest Way to Find Listing</div>
</div>
<app-listing-details></app-listing-details>
<div class="footer">
  <h3 style="color:#64ABE3">OUR SERVICES</h3>
  <h2 style="font-family:'Courier New', Courier, monospace">The Smartest way to buy a home</h2>
</div>
